
{% extends "menu.html" %}
{% load static %}

{% block titulo %}
Alta Servicio | Costabella
{% endblock %}

{% block estilos %}

{% endblock %}

{% block contenido %}
<div class="nk-content-inner">
    <div class="nk-content-body">
        <div class="nk-block-head nk-block-head-sm">
            <div class="nk-block-between">
                <div class="nk-block-head-content">
                    {% for permiso in consultaPermisos %}
                    {% if permiso.tabla_modulo == "Servicios" %}
                    {% if permiso.ver == "Si" %}
    
                    <div class="nk-block-head-sub"><a class="back-to" href="/inventarioServicios/"><em class="icon ni ni-arrow-left"></em><span>Ver Servicios.</span></a></div>

                    {% endif %}
                    {% endif %}
                    {% endfor %}
                        <h2 class="overline-title text-purple fs-20px animate__animated animate__slideInLeft">ALTA DE SERVICIOS.</h2>
                        <div class="nk-block-des animate__animated animate__fadeIn">
                            <p class="fs-15px">En este módulo se darán de alta nuevos servicios al sistema. Es necesario contar con la información necesaria.</p>
                        </div>
                </div><!-- .nk-block-head-content -->
             
            </div><!-- .nk-block-between -->
        </div><!-- .nk-block-head -->

        <div class="nk-block nk-block-lg animate__animated animate__zoomIn">
            <div class="card card-preview animate__animated animate__zoomIn">
                <div class="card-inner">
                    <div class="preview-block">
                        <form action="/altaServicios/" enctype="multipart/form-data" method="POST">{% csrf_token %}
                            <span class="preview-title-lg overline-title text-pink">Información básica de servicio</span>
                            <div class="row gy-4">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="form-label" for="selectTipoProducto"><span style="color: #dd2e2e;">* </span> Tipo de servicio: <em class="icon ni ni-question" data-toggle="tooltip" data-placement="right" title="Clasificación a la que pertene el servicio a dar de alta."></em></label>
                                        <div class="form-control-wrap ">
                                            <div class="form-control-select">
                                                <select class="form-control"  name="tipoServicio" >
                                                    <option value="Corporal">Categoría de corporales</option>
                                                    <option value="Facial">Categoría de faciales</option>
                                                    
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="form-label" for="default-01"><span style="color: #dd2e2e;">* </span> Nombre del servicio:</label>
                                        <div class="form-control-wrap">
                                            <input type="text"  onkeypress='return soloLetras(event)' class="form-control" id="default-01" placeholder="Ingresar nombre del servicio" maxlength="50" required name="nombreServicio"> 
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="form-label" for="default-03">Descripción</label>
                                        <div class="form-control-wrap">
                                            <textarea class="form-control form-control-simple no-resize" id="default-textarea" placeholder="Ingresar la descripción" maxlength="99" style="border-width: 1px!important; 
                                            border-style: solid!important;
                                            border-color: rgb(216, 216, 216)!important;" name="descripcion"></textarea>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            <hr class="preview-hr">
                            <span class="preview-title-lg overline-title text-pink">Información de venta del servicio</span>
                            <div class="row gy-4">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label class="form-label" for="default-01"><span style="color: #dd2e2e;">* </span> Costo de venta por sesión de servicio:</label>
                                        <div class="form-control-wrap">
                                            <div class="form-icon form-icon-left">
                                                <em class="icon ni ni-sign-usd-alt"></em>
                                            </div>
                                            <input type="number" class="form-control" value="1.00" min="0.00" max="10000.00" step="0.01"   maxlength="5" placeholder="Ingresar precio de servicio" required name="costoServicio">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label class="form-label" for="default-01"><span style="color: #dd2e2e;">* </span> Tiempo mínimo:</label>
                                        <div class="form-control-wrap">
                                            <div class="form-icon form-icon-left">
                                                <em class="icon ni ni-alarm-alt"></em>
                                            </div>
                                            <input type="number" class="form-control" value="1"  min="1" max="10000" step="1"  maxlength="5" placeholder="Ingresar el mínimo de minutos de duración" required name="tiempoMinimo"> 
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label class="form-label" for="default-01"></label>
                                        <div class="form-control-wrap">
                                            <div>

                                            </div>
                                            <br>
                                           <h6>Minutos</h6>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label class="form-label" for="default-01"><span style="color: #dd2e2e;">* </span> Tiempo máximo:</label>
                                        <div class="form-control-wrap">
                                            <div class="form-icon form-icon-left">
                                                <em class="icon ni ni-alarm-alt"></em>
                                            </div>
                                            <input type="number" class="form-control" value="1"  min="0.00" max="10000" step="1"  maxlength="5" placeholder="Ingresar el máximo de minutos de duración" required name="tiempoMaximo"> 
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label class="form-label" for="default-01"></label>
                                        <div class="form-control-wrap">
                                            <div>

                                            </div>
                                            <br>
                                           <h6>Minutos</h6>
                                            
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            <hr class="preview-hr">
                            <span class="preview-title-lg overline-title text-pink">Información otros complementos:</span>
                            <div class="row gy-4">
                                
                                    
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="form-label" for="default-03">Complementos  <em class="icon ni ni-question" data-toggle="tooltip" data-placement="right" title="Describir otros productos intangibles que contribuyen en la realización del paquete del servicio al cliente."></em></label>
                                                <div class="form-control-wrap">
                                                    <textarea class="form-control form-control-simple no-resize" id="default-textarea" placeholder="Ingresar la descripción" maxlength="99" style="border-width: 1px!important; 
                                                    border-style: solid!important;
                                                    border-color: rgb(216, 216, 216)!important;" name="complementos"></textarea>
                                                </div>
                                            </div>
                                        </div>
                      
                                
                                
                                
                            </div>
                         
 
                            <hr class="preview-hr">
                            <span class="preview-title-lg overline-title text-pink">Información Sucursal</span>
                            <div class="row gy-4">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="form-label" for="default-06"><span style="color: #dd2e2e;">* </span> Sucursal <em class="icon ni ni-question" data-toggle="tooltip" data-placement="right" title="Seleccionar la sucursal donde se dará de alta el servicio."></em></label>
                                        <div class="form-control-wrap ">
                                            <div class="form-control-select">
                                                <select class="form-select" multiple="multiple" id="default-06" name="sucursales" required>
                                                    <option value="Todas">Todas las sucursales</option>
                                                    {% for sucursal in sucursales %}
                                                    <option value="{{sucursal.id_sucursal}}">{{sucursal.nombre}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                
                            </div>
                            <br>
                            <button type="submit" class="btn btn-dim btn-primary">Dar de alta servicio</button>
                        </form>
                    </div>
                </div>
            </div><!-- .card-preview -->
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
<script>

    {% if servicioAgregado %}
    $(document).ready(function(){
        Swal.fire({
            icon: 'success',
            title: 'Buen trabajo!',
            showConfirmButton: true,
            timer: 3300,
            text: '{{servicioAgregado}}'
        });
        e.preventDefault();
    });
    {% endif %}

    {% if servicioNoAgregado %}
    $(document).ready(function(){
        Swal.fire({
            icon: 'error',
            title: 'Ups..!',
            showConfirmButton: true,
            timer: 3300,
            text: '{{servicioNoAgregado}}'
        });
        e.preventDefault();
    });
    {% endif %}

    window.onload = function(){
      
        var divProveedor = document.getElementById('divProveedor');
        var divProveedor1 = document.getElementById('divProveedor1');

        //Divs para mostrar dependiendo del select
        var divVenta = document.getElementById('divVenta');
        var divRenta = document.getElementById('divRenta');
        var divGasto = document.getElementById('divGasto');
        var divInventario = document.getElementById('divInventario');
        var productoGasto = document.getElementById('productoGasto');
        divVenta.style.display = "block";
        divRenta.style.display = "none";
        divGasto.style.display = "none";
        divInventario.style.display = "block";
        productoGasto.style.display = "none";

        
        
        
      

     
        divProveedor.style.display = "none";
        divProveedor1.style.display = "block";

        var checkbox = document.getElementById('checkbox');
        checkbox.addEventListener("change", validarCheckBox, false);

        function validarCheckBox(){
           
            if(checkbox.checked){
             
                divProveedor.style.display = "block";
                
                divProveedor1.style.display = "none";
               
            }else{
              
                divProveedor.style.display = "none";
            
                divProveedor1.style.display = "block";
                
            }
        }

        window.onload= mueveReloj ();

    }

    function cambiarTipo(){
        var cod = document.getElementById("selectTipoProducto").value;
        
        if(cod == "venta"){
            divVenta.style.display = "block";
            divRenta.style.display = "none";
            divGasto.style.display = "none";
            divInventario.style.display = "block";
            productoGasto.style.display = "none";
        }else if(cod == "renta"){
            divVenta.style.display = "none";
            divRenta.style.display = "block";
            divGasto.style.display = "none";
            divInventario.style.display = "none";
            productoGasto.style.display = "none";
        }else if(cod == "gasto"){
            divVenta.style.display = "none";
            divRenta.style.display = "none";
            divGasto.style.display = "block";
            divInventario.style.display = "block";
            productoGasto.style.display = "block";
        }
    }
</script>
{% endblock %}
