
{% extends "menu.html" %}
{% load static %}

{% block titulo %}
Certificados de regalo | Costabella
{% endblock %}

{% block estilos %}
<style>
    @media screen and (max-width: 320px) {
        table {
          display: block!important;
          overflow-x: auto!important;
        }
   }
</style>
{% endblock %}

{% block contenido%}
<div class="nk-content-inner">
    <div class="nk-content-body">
        <div class="nk-block-head nk-block-head-sm">
            <div class="nk-block-between">
                <div class="nk-block-head-content">
                    <h3 class="nk-block-title page-title color-texto-seleccion">LISTADO DE CERTIFICADOS</h3>
                    <h3 class="nk-block-title page-title text-dark">Sucursal: {{nombreSucursalCertificados}}</h3>
                </div><!-- .nk-block-head-content -->
                <div class="nk-block-head-content">
                    <div class="toggle-wrap nk-block-tools-toggle">
                        <a href="#" class="btn btn-icon btn-trigger toggle-expand mr-n1" data-target="more-options"><em class="icon ni ni-more-v"></em></a>
                        <div class="toggle-expand-content" data-content="more-options">
                            <ul class="nk-block-tools g-3">
                                <li>
                                    <div class="drodown">
                                        <a href="#" class="dropdown-toggle dropdown-indicator btn btn-outline-light btn-white" data-toggle="dropdown">Filtro estatus certificado</a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <ul class="link-list-opt no-bdr">
                                                <li style="cursor: pointer!important;"><a onclick="mostrarCorporales()"><span>Pendientes</span></a></li>
                                                <li style="cursor: pointer!important;"> <a onclick="mostrarFaciales()"><span>Canjeados</span></a></li>
                                                
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                {% for permiso in consultaPermisos %}
                                {% if permiso.tabla_modulo == "Certificado" %}
                                {% if permiso.agregar == "Si" %}
                
                                <li class="nk-block-tools-opt">
                                    <a href="#" class="btn btn-icon btn-primary d-md-none"><em class="icon ni ni-plus"></em></a>
                                    <a href="/agregarCertificado/" class="btn btn-primary d-none d-md-inline-flex"><em class="icon ni ni-plus"></em><span>Agregar certificado</span></a>
                                </li>
                                {% endif %}
                                {% endif %}
                                {% endfor %}
                               
                               

                            </ul>
                        </div>
                    </div>
                </div><!-- .nk-block-head-content -->
            </div><!-- .nk-block-between -->
        </div><!-- .nk-block-head -->

        
        <!-- Div empleados todos -->
        <div  id="divServiciosCorporales">
            <div class="nk-block-head">
                <div class="nk-block-head-content">
                    <h4 class="nk-block-title">Certifcados de regalo pendientes</h4>
                    <div class="nk-block-des">
                        <p>Lista de certificados de regalo <span class="text-danger">pendientes de canjear al 100%</span> en el sistema.</p>
                    </div>
                
                </div>
                
            </div>
        
            <div class="card card-preview">
                <div class="card-inner table-responsive">
                    <table class="datatable-init nk-tb-list nk-tb-ulist animate__animated animate__zoomIn" data-auto-responsive="false">
                        <thead>
                            <tr class="nk-tb-item nk-tb-head" style="background-color: #6ECB63 !important; color:white !important">
                                <th class="nk-tb-col"><span class="sub-text textoBlanco">Id</span></th>
                                <th class="nk-tb-col"><span class="sub-text textoBlanco">Código</span></th>
                                <th class="nk-tb-col" ><span class="sub-text textoBlanco">Fecha alta</span></th>
                                <th class="nk-tb-col"><span class="sub-text textoBlanco">Vigencia</span></th>
                                <th class="nk-tb-col"><span class="sub-text textoBlanco">Servicios</span></th>
                                <th class="nk-tb-col"><span class="sub-text textoBlanco">Cliente</span></th>
                                <th class="nk-tb-col"><span class="sub-text textoBlanco">Beneficiaria</span></th>
                                <th class="nk-tb-col"><span class="sub-text textoBlanco">Monto total</span></th>
                                
                                {% for permiso in consultaPermisos %}
                                {% if permiso.tabla_modulo == "Certificado" %}
                                {% if permiso.agregar == "Si" %}
                                <th class="nk-tb-col"><span class="sub-text textoBlanco">Canjear</span></th>
                                {% endif %}
                                {% endif %}
                                {% endfor %}

                               
                             
                                
                                
                            </tr>
                        </thead>
                        <tbody>
                            {% for certificado in certificadosPendientes %}
                            <tr class="nk-tb-item">
                                <td class="nk-tb-col">
                                    <span class="badge badge-info">{{certificado.0}}</span>
                                </td>
                               
                                <td class="nk-tb-col" >
                                    <span class="badge badge-dark">{{certificado.1}}</span>
                                </td>
                                <td class="nk-tb-col" >
                                    <span class="text-dark">{{certificado.2}}</span>
                                </td>
                                <td class="nk-tb-col" >
                                    <span class="fw-bold text-danger">{{certificado.3}}</span>
                                </td>
                                <td class="nk-tb-col" >
                                    <button type="submit" class="btn btn-success btn-sm btn-primary" data-toggle="popover" 
                                    title="Serivicios" data-html="true" 
                                    data-content="
                                                       
                                    {% for serv, canjeado in certificado.4 %}
                                    <div> 
                                        {% if canjeado == 'C' %}
                                        <h6> <span class='text-primary fs-13px'> {{serv}} -</span> <span class='fw-bold text-teal fs-11px'> Canjeado  </span></h6>
                                        {% else %}
                                        <h6> <span class='text-primary fs-13px'> {{serv}} -</span> <span class='fw-bold text-danger fs-11px'> Pendiente  </span></h6>
                                        {% endif %}
                                    </div>
                                    
                                    {% endfor %}
                                    "><em class="icon ni ni-star"></em></button>
                                </td>
                                <td class="nk-tb-col" >
                                    <span class="badge badge-warning">{{certificado.5}}</span>
                                </td>
                                <td class="nk-tb-col" >
                                    <span class="badge badge-light">{{certificado.6}}</span>
                                </td>
                                <td class="nk-tb-col" >
                                    <span class="fw-bold text-dark">$ <span class="text-teal">{{certificado.7}}</span><span class="text-gray"> MXN</span></span>
                                </td>
                                <td class="nk-tb-col" >
                                    {% if certificado.8 == "yaNoEstaVigente" %}
                                    <span class="badge badge-danger">Certificado vencido</span>

                                    {% else %}
                                    <span class="badge badge-success">Certificado activo</span>
                                    <form action="/verServiciosParaCanjear/" method="POST">{% csrf_token %}
                                        <input type="hidden" value="{{certificado.0}}" name="idCertificado">
                                        <button type="submit" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="right" title="Canjear servicios"><em class="icon ni ni-ticket"></em></button>
                                    </form>
                                    {% endif %}
                                </td>
                                
                            
                            
                             

                            </tr>
                            {% endfor %}
                            
                        </tbody>
                    </table>
                </div>
            </div><!-- .card-preview -->
        </div> <!-- nk-block -->

        <!-- DIV EMPLEADOS ACTIVOS -->
        <div  id="divServiciosFaciales">
            <div class="nk-block-head">
                <div class="nk-block-head-content">
                    <h4 class="nk-block-title">Certifcados de regalo canjeados</h4>
                    <div class="nk-block-des">
                        <p>Lista de certificados de regalo <span class="text-teal">canjeados al 100%</span> en el sistema.</p>
                    </div>
                </div>
                
            </div>
            <div class="card card-preview">
                <div class="card-inner table-responsive">
                    <table class="datatable-init nk-tb-list nk-tb-ulist animate__animated animate__zoomIn" data-auto-responsive="false">
                        <thead>
                            <tr class="nk-tb-item nk-tb-head" style="background-color: #24A19C !important; color:white !important">
                                <th class="nk-tb-col"><span class="sub-text textoBlanco">Id</span></th>
                                <th class="nk-tb-col"><span class="sub-text textoBlanco">Código</span></th>
                                <th class="nk-tb-col" ><span class="sub-text textoBlanco">Fecha alta</span></th>
                                <th class="nk-tb-col"><span class="sub-text textoBlanco">Vigencia</span></th>
                                <th class="nk-tb-col"><span class="sub-text textoBlanco">Servicios</span></th>
                                <th class="nk-tb-col"><span class="sub-text textoBlanco">Cliente</span></th>
                                <th class="nk-tb-col"><span class="sub-text textoBlanco">Beneficiaria</span></th>
                                <th class="nk-tb-col"><span class="sub-text textoBlanco">Monto total</span></th>
                           
                            </tr>
                        </thead>
                        <tbody>
                            {% for certificado in certificadosCanjeados %}
                            <tr class="nk-tb-item">
                                <td class="nk-tb-col">
                                    <span class="badge badge-info">{{certificado.0}}</span>
                                </td>
                               
                                <td class="nk-tb-col" >
                                    <span class="badge badge-dark">{{certificado.1}}</span>
                                </td>
                                <td class="nk-tb-col" >
                                    <span class="text-dark">{{certificado.2}}</span>
                                </td>
                                <td class="nk-tb-col" >
                                    <span class="fw-bold text-danger">{{certificado.3}}</span>
                                </td>
                                <td class="nk-tb-col" >
                                    <button type="submit" class="btn btn-success btn-sm btn-primary" data-toggle="popover" 
                                    title="Serivicios" data-html="true" 
                                    data-content="
                                                       
                                    {% for serv, canjeado in certificado.4 %}
                                    <div> 
                                        {% if canjeado == 'C' %}
                                        <h6> <span class='text-primary fs-13px'> {{serv}} -</span> <span class='fw-bold text-teal fs-11px'> Canjeado  </span></h6>
                                        {% else %}
                                        <h6> <span class='text-primary fs-13px'> {{serv}} -</span> <span class='fw-bold text-danger fs-11px'> Pendiente  </span></h6>
                                        {% endif %}
                                    </div>
                                    
                                    {% endfor %}
                                    "><em class="icon ni ni-star"></em></button>
                                </td>
                                <td class="nk-tb-col" >
                                    <span class="badge badge-warning">{{certificado.5}}</span>
                                </td>
                                <td class="nk-tb-col" >
                                    <span class="badge badge-light">{{certificado.6}}</span>
                                </td>
                                <td class="nk-tb-col" >
                                    <span class="fw-bold text-dark">$ <span class="text-teal">{{certificado.7}}</span><span class="text-gray"> MXN</span></span>
                                </td>
                                
                            
                            
                             

                            </tr>
                            {% endfor %}
                            
                        </tbody>
                    </table>
                </div>
            </div><!-- .card-preview -->
        </div> <!-- nk-block -->

    </div>
</div>

{% if listaProductosVenta or listaProductosGasto %}
<h1>{{listaProductosVenta }}</h1>
<h1>{{listaProductosGasto }}</h1>

{% endif %}



<!-- Modal de editar servicios corporales -->

{% for corporal, sucursal in listaCorporalesEditar %}
<!-- Modal de editar producto -->
<div class="modal fade" tabindex="-1" role="dialog" id="editarServicioCorporal{{corporal.id_servicio}}">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <a href="#" class="close" data-dismiss="modal"><em class="icon ni ni-cross-sm"></em></a>
            <div class="modal-body modal-body-lg">
                <h3 class="title text-center ">EDITAR SERVICIO CORPORAL</h3>
                <center>
                  
                    <img src="{% static 'images/iconosMenu/9.png' %} " alt="personal">
               
                </center>
                
                
                <div class="tab-content">
                    
                    <form action="/actualizarServiciosCoporales/" method="POST">{% csrf_token %}
                    <div class="tab-pane active" id="personal">
                        <div class="row gy-4">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <h3 class="title text-center ">Información del servicio</h3>
                                    </div>
                                </div>
                        </div>
                        <div class="row gy-4">
                            <input type="hidden" value="{{corporal.id_servicio}}" name="idServicioCorporalEditar">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr style="background-color: #24A19C !important; color:white !important">
                                                <th class="nk-tb-col"><span class="sub-text textoBlanco">Id</span></th>
                                            <th class="nk-tb-col"><span class="sub-text textoBlanco">Código</span></th>
                                            <th class="nk-tb-col" ><span class="sub-text textoBlanco">Fecha alta</span></th>
                                            <th class="nk-tb-col"><span class="sub-text textoBlanco">Vigencia</span></th>
                                            <th class="nk-tb-col"><span class="sub-text textoBlanco">Servicios</span></th>
                                            <th class="nk-tb-col"><span class="sub-text textoBlanco">Cliente</span></th>
                                            <th class="nk-tb-col"><span class="sub-text textoBlanco">Beneficiaria</span></th>
                                            <th class="nk-tb-col"><span class="sub-text textoBlanco">Monto total</span></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row" > <span  class="badge-pill badge-info">{{corporal.id_servicio}}</span> </th>
                                                <td><input  type="text" class="form-control"   name="nombreActualizado" value="{{corporal.nombre_servicio}}"  ></td>
                                                <td><input  class="form-control"   name="descripcionActualizado" value="{{corporal.descripcion_servicio}}"  ></td>
                                                <td><input  type="number" class="form-control" min="0.00" max="10000.00" step="0.01"   name="precioActualizado" value="{{corporal.precio_venta}}"  ></td>
                                                <td><input  type="number" class="form-control" min="0" max="10000" step="1"   name="minimoActualizado" value="{{corporal.tiempo_minimo}}"  ></td>
                                                <td> <input  type="number" class="form-control"  min="0" max="10000" step="1" name="maximoActualizado" value="{{corporal.tiempo_maximo}}"  ></td>
                                                <td>   
                                                            <div class="form-control-select">
                                                                <select class="form-control" id="default-06" name="idSucursal">
                                                                   
                                                                  
                                                                   
                                                                    <option value="{{sucursal.0}}" selected>{{sucursal.1}}</option>
                                                                    {% for sucFalt in sucursalesTotalesEditat %}
                                                                    <option value="{{sucFalt.0}}">{{sucFalt.1}}</option>
                                                                    {% endfor %}
                    
                                                              
                                                                </select>
                                                            </div>
                                                        
                                                   
                                               </td>
                                        
                                              
                                             
                                            </tr>
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row gy-4">
                            <div class="col-12">
                                <ul class="align-center flex-wrap flex-sm-nowrap gx-4 gy-2">
                                    <li>
                                        <button type="submit" class="btn btn-lg btn-primary">Actualizar servicio</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        

                    </div><!-- .tab-pane -->
                    </form>
                </div><!-- .tab-content -->
            </div><!-- .modal-body -->
        </div><!-- .modal-content -->
    </div><!-- .modal-dialog -->
</div><!-- .modal -->

{% endfor %}


<!-- Modal de crear paquetes servicios corporales -->

{% for corporal, productosVenta, productosGasto in listaCorporalesProductosVenta %}
<!-- Modal de editar producto -->
<div class="modal fade" tabindex="-1" role="dialog" id="paqueteServicioCorporal{{corporal.id_servicio}}">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <a href="#" class="close" data-dismiss="modal"><em class="icon ni ni-cross-sm"></em></a>
            <div class="modal-body modal-body-lg">
                <h3 class="title text-center ">PAQUETE SERVICIO CORPORAL</h3>
                <center>
                  
                    <img src="{% static 'images/iconosMenu/9.png' %} " alt="personal">
               
                </center>
                
                
                <div class="tab-content">
                    
                    <form action="/crearPaqueteServiciosCorporales/" method="POST">{% csrf_token %}
                    <div class="tab-pane active" id="personal">
                        <div class="row gy-4">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <h3 class="title text-center ">{{corporal.nombre_servicio}}</h3>
                                    </div>
                                </div>
                        </div>
                        <div class="row gy-4">
                            <input type="hidden" value="{{corporal.id_servicio}}" name="idServicioCorporalPaquete">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr style="background-color: #24A19C !important; color:white !important">
                                               
                                             
                                                <th scope="col">Productos Venta</th>
                                              
                                                <th scope="col">Productos Gasto</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                               
                                                <td>  
                                                    <div class="form-control-select">
                                                        <select class="form-select" multiple="multiple" data-placeholder="Select Multiple options" name="idProductoVenta" id="productosVenta{{corporal.id_servicio}}" onchange="displayValores{{corporal.id_servicio}}()">
                                                            <option value="Ninguno" selected>Ninguno</option>
                                                            {% for producto in productosVenta %}
                                                            <option value="{{producto.0}}" >{{producto.1}} - {{producto.2}}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </td>
                                                <td>   
                                                            <div class="form-control-select">
                                                                <select class="form-select" multiple="multiple" data-placeholder="Select Multiple options" name="idProductoGasto">
                                                                   
                                                                  
                                                                   
                                                                    <option value="Ninguno" selected>Ninguno</option>
                                                                    {% for productoGasto in productosGasto %}
                                                                    <option value="{{productoGasto.0}}">{{productoGasto.1}} {{productoGasto.2}}</option>
                                                                    {% endfor %}
                    
                                                              
                                                                </select>
                                                            </div>
                                                        
                                                   
                                               </td>
                                        
                                              
                                             
                                            </tr>
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row gy-4">
                            <div class="col-12">
                                <p class="text-body"><span class="text-danger">Nota:</span> Al momento de realizar una venta por este servicio, se descontarán en existencia los productos seleccionados aqui.</p>
                            </div>
                        </div>
                        <div class="row gy-4">
                            <div class="col-12">
                                <ul class="align-center flex-wrap flex-sm-nowrap gx-4 gy-2">
                                    <li>
                                        <button type="submit" class="btn btn-lg btn-primary">Agregar paquete</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        

                    </div><!-- .tab-pane -->
                    </form>
                </div><!-- .tab-content -->
            </div><!-- .modal-body -->
        </div><!-- .modal-content -->
    </div><!-- .modal-dialog -->
</div><!-- .modal -->

{% endfor %}



<!-- Modal de editar servicios faciales -->

{% for facial, sucursal in listaFacialesEditar %}
<!-- Modal de editar producto -->
<div class="modal fade" tabindex="-1" role="dialog" id="editarServicioFacial{{facial.id_servicio}}">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <a href="#" class="close" data-dismiss="modal"><em class="icon ni ni-cross-sm"></em></a>
            <div class="modal-body modal-body-lg">
                <h3 class="title text-center ">EDITAR SERVICIO FACIAL</h3>
                <center>
                  
                    <img src="{% static 'images/iconosMenu/9.png' %} " alt="personal">
               
                </center>
                
                
                <div class="tab-content">
                    
                    <form action="/actualizarServiciosFaciales/" method="POST">{% csrf_token %}
                    <div class="tab-pane active" id="personal">
                        <div class="row gy-4">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <h3 class="title text-center ">Información del servicio</h3>
                                    </div>
                                </div>
                        </div>
                        <div class="row gy-4">
                            <input type="hidden" value="{{facial.id_servicio}}" name="idServicioFacialEditar">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr style="background-color: #24A19C !important; color:white !important">
                                                <th scope="col">Id</th>
                                                <th scope="col">Nombre</th>
                                                <th scope="col">Descripción</th>
                                                <th scope="col">Costo venta</th>
                                                <th scope="col">Tiempo mínimo</th>
                                                <th scope="col">Tiempo máximo</th>
                                              
                                                <th scope="col">Sucursal</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row" > <span  class="badge-pill badge-info">{{facial.id_servicio}}</span> </th>
                                                <td><input  type="text" class="form-control"   name="nombreActualizado" value="{{facial.nombre_servicio}}"  ></td>
                                                <td><input  class="form-control"   name="descripcionActualizado" value="{{facial.descripcion_servicio}}"  ></td>
                                                <td><input  type="number" class="form-control" min="0.00" max="10000.00" step="0.01"   name="precioActualizado" value="{{facial.precio_venta}}"  ></td>
                                                <td><input  type="number" class="form-control" min="0" max="10000" step="1"   name="minimoActualizado" value="{{facial.tiempo_minimo}}"  ></td>
                                                <td> <input  type="number" class="form-control"  min="0" max="10000" step="1" name="maximoActualizado" value="{{facial.tiempo_maximo}}"  ></td>
                                                <td>   
                                                            <div class="form-control-select">
                                                                <select class="form-control" id="default-06" name="idSucursal">
                                                                   
                                                                  
                                                                   
                                                                    <option value="{{sucursal.0}}" selected>{{sucursal.1}}</option>
                                                                    {% for sucFalt in sucursalesTotalesEditat %}
                                                                    <option value="{{sucFalt.0}}">{{sucFalt.1}}</option>
                                                                    {% endfor %}
                    
                                                              
                                                                </select>
                                                            </div>
                                                        
                                                   
                                               </td>
                                        
                                              
                                             
                                            </tr>
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row gy-4">
                            <div class="col-12">
                                <ul class="align-center flex-wrap flex-sm-nowrap gx-4 gy-2">
                                    <li>
                                        <button type="submit" class="btn btn-lg btn-primary">Actualizar servicio</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        

                    </div><!-- .tab-pane -->
                    </form>
                </div><!-- .tab-content -->
            </div><!-- .modal-body -->
        </div><!-- .modal-content -->
    </div><!-- .modal-dialog -->
</div><!-- .modal -->

{% endfor %}



<!-- Modal crear paquetes servicios faciales -->

{% for facial, sucursal in listaFacialesEditar %}
<!-- Modal de editar producto -->
<div class="modal fade" tabindex="-1" role="dialog" id="editarServicioFacial{{facial.id_servicio}}">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <a href="#" class="close" data-dismiss="modal"><em class="icon ni ni-cross-sm"></em></a>
            <div class="modal-body modal-body-lg">
                <h3 class="title text-center ">EDITAR SERVICIO FACIAL</h3>
                <center>
                  
                    <img src="{% static 'images/iconosMenu/9.png' %} " alt="personal">
               
                </center>
                
                
                <div class="tab-content">
                    
                    <form action="/actualizarServiciosFaciales/" method="POST">{% csrf_token %}
                    <div class="tab-pane active" id="personal">
                        <div class="row gy-4">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <h3 class="title text-center ">Información del servicio</h3>
                                    </div>
                                </div>
                        </div>
                        <div class="row gy-4">
                            <input type="hidden" value="{{facial.id_servicio}}" name="idServicioFacialEditar">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr style="background-color: #24A19C !important; color:white !important">
                                                <th scope="col">Id</th>
                                                <th scope="col">Nombre</th>
                                                <th scope="col">Descripción</th>
                                                <th scope="col">Costo venta</th>
                                                <th scope="col">Tiempo mínimo</th>
                                                <th scope="col">Tiempo máximo</th>
                                              
                                                <th scope="col">Sucursal</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row" > <span  class="badge-pill badge-info">{{facial.id_servicio}}</span> </th>
                                                <td><input  type="text" class="form-control"   name="nombreActualizado" value="{{facial.nombre_servicio}}"  ></td>
                                                <td><input  class="form-control"   name="descripcionActualizado" value="{{facial.descripcion_servicio}}"  ></td>
                                                <td><input  type="number" class="form-control" min="0.00" max="10000.00" step="0.01"   name="precioActualizado" value="{{facial.precio_venta}}"  ></td>
                                                <td><input  type="number" class="form-control" min="0" max="10000" step="1"   name="minimoActualizado" value="{{facial.tiempo_minimo}}"  ></td>
                                                <td> <input  type="number" class="form-control"  min="0" max="10000" step="1" name="maximoActualizado" value="{{facial.tiempo_maximo}}"  ></td>
                                                <td>   
                                                            <div class="form-control-select">
                                                                <select class="form-control" id="default-06" name="idSucursal">
                                                                   
                                                                  
                                                                   
                                                                    <option value="{{sucursal.0}}" selected>{{sucursal.1}}</option>
                                                                    {% for sucFalt in sucursalesTotalesEditat %}
                                                                    <option value="{{sucFalt.0}}">{{sucFalt.1}}</option>
                                                                    {% endfor %}
                    
                                                              
                                                                </select>
                                                            </div>
                                                        
                                                   
                                               </td>
                                        
                                              
                                             
                                            </tr>
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row gy-4">
                            <div class="col-12">
                                <ul class="align-center flex-wrap flex-sm-nowrap gx-4 gy-2">
                                    <li>
                                        <button type="submit" class="btn btn-lg btn-primary">Actualizar producto</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        

                    </div><!-- .tab-pane -->
                    </form>
                </div><!-- .tab-content -->
            </div><!-- .modal-body -->
        </div><!-- .modal-content -->
    </div><!-- .modal-dialog -->
</div><!-- .modal -->

{% endfor %}






<!-- Modal para ver los productos del paquete Corporal -->
{% for corporal,sucursal, yaTienePaqueteCorporal, productos in listaCorporales2 %}
<div class="modal fade" tabindex="-1" role="dialog" id="verProductosSC{{corporal.id_servicio}}">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <a href="#" class="close" data-dismiss="modal"><em class="icon ni ni-cross-sm"></em></a>
            <div class="modal-body modal-body-lg">
                <h3 class="title text-center ">PAQUETE DE PRODUCTOS DE SERVICIO CORPORAL</h3>
                <center>
                  
                    <img src="{% static 'images/iconosMenu/paquetes.png' %} " alt="personal">
               
                </center>
                
                
                <div class="tab-content">
                    
                   
                    <div class="tab-pane active" id="personal">
                        <div class="row gy-4">
                                <div class="col-md-12">
                                    <center>
                                        <div class="form-group">
                                            <span class="badge badge-dim badge-danger"><h3  style="color: rgb(180, 10, 10) !important;">{{corporal.nombre_servicio}}</h3></span>
                                        </div>
                                    </center>
                                    
                                </div>
                        </div>
                        <div class="row gy-4">
                            
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr style="background-color: #24A19C !important; color:white !important">
                                               
                                             
                                                <th scope="col">Id Producto</th>
                                              
                                                <th scope="col">Codigo</th>
                                                <th scope="col">SKU</th>
                                              
                                                <th scope="col">Nombre</th>
                                                <th scope="col">Cantidad utilizada por sesión</th>
                                                
                                               
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for p in productos %}
                                            <tr>
                                                
                                                <th scope="row" > <span  class="badge badge-dark">{{p.0}}</span> </th>
                                                <th scope="row" > <span  class="badge badge-primary">{{p.1}}</span> </th>
                                                <th scope="row" > <span  class="badge badge-danger">{{p.2}}</span> </th>
                                                <th scope="row" > <span  class="fw-bold text-dark">{{p.3}}</span> </th>
                                                
                                                <th scope="row" > 
                                                    <center>
                                                        
                                                    <span  class="badge badge-outline-warning" style="color: black !important;">{{p.4}} unidades</span> 
                                                    </center>
                                                </th>
                                                
                                            </tr>
                                            {% endfor %}
                                            
                                        </tbody>
                                    </table>
                                </div>
                                <center>
                                    {% for permiso in consultaPermisos %}
                                    {% if permiso.tabla_modulo == "Paquetes" %}
                                    {% if permiso.editar == "Si" %}
                                    <form action="/verProductoDePaqueteCorporalEditar/" method="POST">{% csrf_token %}
                                        <input type="hidden" value="{{corporal.id_servicio}}" name="idServicioCorporalEditar">
                                        <button type="submit" class="btn btn-dim btn-warning">Editar productos</button>
                                    </form>
                                    {% endif %}
                                    {% endif %}
                                    {% endfor %}
                                </center>
                               

                            </div>
                        </div>
                
                        

                    </div><!-- .tab-pane -->
               
                </div><!-- .tab-content -->
            </div><!-- .modal-body -->
        </div><!-- .modal-content -->
    </div><!-- .modal-dialog -->
</div><!-- .modal -->

{% endfor %}

{% for corporal,sucursal, yaTienePaqueteCorporal, productos in listaFaciales2 %}
<div class="modal fade" tabindex="-1" role="dialog" id="verProductosSF{{corporal.id_servicio}}">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <a href="#" class="close" data-dismiss="modal"><em class="icon ni ni-cross-sm"></em></a>
            <div class="modal-body modal-body-lg">
                <h3 class="title text-center ">PAQUETE DE PRODUCTOS DE SERVICIO CORPORAL</h3>
                <center>
                  
                    <img src="{% static 'images/iconosMenu/paquetes.png' %} " alt="personal">
               
                </center>
                
                
                <div class="tab-content">
                    
                   
                    <div class="tab-pane active" id="personal">
                        <div class="row gy-4">
                                <div class="col-md-12">
                                    <center>
                                        <div class="form-group">
                                            <span class="badge badge-dim badge-danger"><h3  style="color: rgb(180, 10, 10) !important;">{{corporal.nombre_servicio}}</h3></span>
                                        </div>
                                    </center>
                                    
                                </div>
                        </div>
                        <div class="row gy-4">
                            
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr style="background-color: #24A19C !important; color:white !important">
                                               
                                             
                                                <th scope="col">Id Producto</th>
                                              
                                                <th scope="col">Codigo</th>
                                                <th scope="col">SKU</th>
                                              
                                                <th scope="col">Nombre</th>
                                                <th scope="col">Cantidad utilizada por sesión</th>
                                                
                                               
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for p in productos %}
                                            <tr>
                                                
                                                <th scope="row" > <span  class="badge badge-dark">{{p.0}}</span> </th>
                                                <th scope="row" > <span  class="badge badge-primary">{{p.1}}</span> </th>
                                                <th scope="row" > <span  class="badge badge-danger">{{p.2}}</span> </th>
                                                <th scope="row" > <span  class="fw-bold text-dark">{{p.3}}</span> </th>
                                                
                                                <th scope="row" > 
                                                    <center>
                                                        
                                                    <span  class="badge badge-outline-warning" style="color: black !important;">{{p.4}} unidades</span> 
                                                    </center>
                                                </th>
                                                
                                            </tr>
                                            {% endfor %}
                                            
                                        </tbody>
                                    </table>
                                </div>
                                <center>
                                    {% for permiso in consultaPermisos %}
                                    {% if permiso.tabla_modulo == "Paquetes" %}
                                    {% if permiso.editar == "Si" %}
                                    <form action="/verProductoDePaqueteCorporalEditar/" method="POST">{% csrf_token %}
                                        <input type="hidden" value="{{corporal.id_servicio}}" name="idServicioCorporalEditar">
                                        <button type="submit" class="btn btn-dim btn-warning">Editar productos</button>
                                    </form>
                                    {% endif %}
                                    {% endif %}
                                    {% endfor %}
                                </center>
                               

                            </div>
                        </div>
                
                        

                    </div><!-- .tab-pane -->
               
                </div><!-- .tab-content -->
            </div><!-- .modal-body -->
        </div><!-- .modal-content -->
    </div><!-- .modal-dialog -->
</div><!-- .modal -->

{% endfor %}



<script>
    {% for productoVentaEditar, usuario, sucursal in listaProductosVentaEditar2 %}
    function calcularPrecioVenta{{productoVentaEditar.id_producto}}() {
        const valorCosto = document.getElementById("costoCompra{{productoVentaEditar.id_producto}}").value;
        const valorMargen = document.getElementById("margenCompra{{productoVentaEditar.id_producto}}").value;
        const inputCostoVenta = document.getElementById("inputCostoVenta{{productoVentaEditar.id_producto}}");

        margenFloat = parseFloat(valorMargen);
        margenEntero = margenFloat.toFixed();
        margenString = "1."+margenEntero.toString();
        margenIntFinal = parseFloat(margenString);

        const costoVentaNuevo = valorCosto * margenIntFinal;
        costoVentaNuevoChido =costoVentaNuevo.toFixed(2);
        inputCostoVenta.value = costoVentaNuevoChido;
        console.log(costoVentaNuevoChido);

    }
    {% endfor %}

   
</script>



<script>
    window.clearTimeout();
    window.onload = function() {
        var divServiciosCorporales = document.getElementById("divServiciosCorporales");
        var divServiciosFaciales = document.getElementById("divServiciosFaciales");
     
        divServiciosCorporales.style.display = "block";
        divServiciosFaciales.style.display = "none";
       
        window.onload= mueveReloj ();
      

        
    };
    var ninguno = true;
    function displayValores3(){
        var valoresSelect = $("#productosVenta3").val() || [];
        
        if (ninguno && valoresSelect.includes('Ninguno')){
            console.log('hay mas de uno');
            //desmarcar ninguno
            $("#productosVenta3 option[value=Ninguno]").removeAttr("selected");
          
            //actualizar los nuevos valores seleccionados
            valoresSelect = $("#productosVenta3").val();
            console.log(valoresSelect);
            //indicar que niniguno ya no esta marcado
            ninguno = false;
        }
        else if (!ninguno && valoresSelect.indexOf('Ninguno') > -1 ){
            //dejar a ninguno como unico valor
            $("#productosVenta3").val("Ninguno");
            //actualizar los nuevos valores seleccionads
            valoresSelect = $("#productosVenta3").val();
            ninguno = true;
        }
    }

    

    function mostrarCorporales(){
        divServiciosCorporales.style.display = "block";
        divServiciosFaciales.style.display = "none";
       
        console.log("Todos los divs");
    };

    function mostrarFaciales(){
        divServiciosCorporales.style.display = "none";
        divServiciosFaciales.style.display = "block";
        
        console.log("activos");
    };


</script>
{% endblock %}
