
{% extends "menu.html" %}
{% load static %}

{% block titulo %}
Alta Cliente | Costabella
{% endblock %}

{% block estilos %}

{% endblock %}

{% block contenido%}
<div class="nk-content-inner">
    <div class="nk-content-body">
        <div class="nk-block-head nk-block-head-sm">
            <div class="nk-block-between">
                <div class="nk-block-head-content">
                    {% for permiso in consultaPermisos %}
                    {% if permiso.tabla_modulo == "Clientes" %}
                    {% if permiso.ver == "Si"  %}
                    <div class="nk-block-head-sub"><a class="back-to" href="/verClientes/"><em class="icon ni ni-arrow-left"></em><span>Ver clientes.</span></a></div>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                    <p class="overline-title text-purple fs-20px animate__animated animate__slideInLeft">ALTA DE CLIENTES.</p>
                        <div class="nk-block-des animate__animated animate__fadeIn">
                            <p class="fs-15px">En este módulo se darán de alta nuevos clientes al sistema. Es necesario contar con la información básica personal para poder llevar una mejor administración.</p>
                            
                        </div>
                </div><!-- .nk-block-head-content -->
             
            </div><!-- .nk-block-between -->
        </div><!-- .nk-block-head -->

        <div class="nk-block nk-block-lg">
            <div class="card card-preview animate__animated animate__zoomIn">
                <div class="card-inner  animate__animated animate__zoomIn">
                    <div class="preview-block">
                        <form action="/altaCliente/" method="POST">{% csrf_token %}
                            <span class="preview-title-lg overline-title text-pink">Información Personal</span>
                            <div class="row gy-4">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="form-label" for="default-01"><span style="color: #dd2e2e;">* </span>Nombre(s)</label>
                                        <div class="form-control-wrap">
                                            <div class="form-icon form-icon-left">
                                                <em class="icon ni ni-user"></em>
                                            </div>
                                            <input type="text"  onkeypress='return soloLetras(event)' class="form-control" id="default-01" placeholder="Ingresar nombre" maxlength="39" required name="nombresCliente"> 
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label class="form-label" for="default-01"><span style="color: #dd2e2e;">* </span>Apellido Paterno</label>
                                        <div class="form-control-wrap">
                                            <input type="text"  onkeypress='return soloLetras(event)' class="form-control" id="default-01" placeholder="Ingresar apellido paterno" maxlength="20" required name="apellidoPatCliente"> 
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label class="form-label" for="default-03"><span style="color: #dd2e2e;">* </span>Apellido Materno</label>
                                        <div class="form-control-wrap">
                                            <input type="text"  onkeypress='return soloLetras(event)' class="form-control" id="default-03" placeholder="Ingresar apellido materno" maxlength="20" required name="apellidoMatCliente">
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            <hr class="preview-hr">
                            <span class="preview-title-lg overline-title text-pink">Información de contacto</span>
                            <div class="row gy-4">
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label class="form-label" for="default-03">Teléfono</label>
                                        <div class="form-control-wrap">
                                            <div class="form-icon form-icon-left">
                                                <em class="icon ni ni-call"></em>
                                            </div>
                                            <input type="text"  onkeypress='return validaNumericos(event)' class="form-control" id="default-03" placeholder="Ingresar teléfono personal" maxlength="10"  name="telefonoCliente">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="form-label" for="default-01">Correo electrónico</label>
                                        <div class="form-control-wrap">
                                            <div class="form-icon form-icon-left">
                                                <em class="icon ni ni-emails"></em>
                                            </div>
                                            <input type="email" class="form-control" id="default-01" placeholder="Ingresar correo electrónico" maxlength="30"  name="correoCliente">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="form-label" for="default-01"><span style="color: #dd2e2e;">* </span>Dirección</label>
                                        <div class="form-control-wrap">
                                            <div class="form-icon form-icon-left">
                                                <em class="icon ni ni-location"></em>
                                            </div>
                                            <textarea class="form-control form-control-simple no-resize" id="default-textarea" placeholder="Ingresar la dirección del cliente" maxlength="99" style="border-width: 1px!important; 
                                            border-style: solid!important;
                                            border-color: rgb(216, 216, 216)!important;" name="direccionCliente"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                                
                            <br>
                            <button type="submit" class="btn btn-dim btn-primary">Dar de alta cliente</button>
                            
                        </form>
                    </div>
                </div>
            </div><!-- .card-preview -->
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
<script>

    {% if clienteAgregado %}
    $(document).ready(function(){
        Swal.fire({
            icon: 'success',
            title: 'Buen trabajo!',
            showConfirmButton: true,
            timer: 3300,
            text: '{{clienteAgregado}}'
        });
        e.preventDefault();
    });
    {% endif %}

    {% if clienteNoAgregado %}
    $(document).ready(function(){
        Swal.fire({
            icon: 'error',
            title: 'Ups..!',
            showConfirmButton: true,
            timer: 3300,
            text: '{{clienteNoAgregado}}'
        });
        e.preventDefault();
    });
    {% endif %}
</script>
{% endblock %}

{% block relojJS %}
<script>
    window.clearTimeout();
    window.onload = function() {

        window.onload= mueveReloj ();

        
    };
</script>
{% endblock %}
