
{% extends "menu.html" %}
{% load static %}

{% block titulo %}
Configuración de crédito | Costabella
{% endblock %}

{% block estilos %}

{% endblock %}

{% block contenido%}
<div class="nk-content-inner">
    <div class="nk-content-body">
        <div class="nk-block-head nk-block-head-sm">
            <div class="nk-block-between">
                <div class="nk-block-head-content">
                    <div class="nk-block-head-sub"><a class="back-to" href="/configuracionCredito/"><em class="icon ni ni-arrow-left"></em><span>Ver configuración de crédito.</span></a></div>
                        <h2 class="overline-title text-purple fs-20px ">CONFIGURACIÓN DE CRÉDITO PARA SUCURSALES.</h2>
                        <div class="nk-block-des">
                            <p class="fs-15px">En este módulo se seleccionarán los diferentes ajustes de crédito en el sistema, según se desee.  Es necesario contar con la información necesaria.</p>
                        </div>
                </div><!-- .nk-block-head-content -->
             
            </div><!-- .nk-block-between -->
        </div><!-- .nk-block-head -->

        <div class="nk-block nk-block-lg">
            <div class="card card-preview">
                <div class="card-inner">
                    <div class="preview-block">
                        <form action="/agregarConfiguracionCredito/" method="POST">{% csrf_token %}
                            <span class="preview-title-lg overline-title text-pink">Información Básica</span>
                            <div class="row gy-4">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label class="form-label" for="default-01"><span style="color: #dd2e2e;">* </span> Cantidad de límite de crédito por cliente:</label>
                                        <div class="form-control-wrap">
                                            <div class="form-icon form-icon-left">
                                                <em class="icon ni ni-sign-usd-alt"></em>
                                            </div>
                                            <input type="number" class="form-control" value="1.00" min="0.00" max="10000.00" step="0.01"  maxlength="5" placeholder="Ingresar limite de crédito" required name="limiteCredito">
                                        </div>
                                    </div>
                                </div>
                               
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="form-label" for="default-06"><span style="color: #dd2e2e;">* </span> Sucursal <em class="icon ni ni-question" data-toggle="tooltip" data-placement="right" title="Seleccionar la sucursal donde se dará de alta el crédito."></em></label>
                                        <div class="form-control-wrap ">
                                            <div class="form-control-select">
                                                <select class="form-control" id="default-06" name="sucursal">
                                                    {% for sucursal in sucursales %}
                                                    <option value="{{sucursal.id_sucursal}}">{{sucursal.nombre}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                         
                             
                         
                            
                            </div>
                      
                       
                            <br>
                            <button type="submit" class="btn btn-dim btn-primary">Dar de alta límite de crédito</button>
                        </form>
                    </div>
                </div>
            </div><!-- .card-preview -->
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
<script>

    {% if configuracionAgregado %}
    $(document).ready(function(){
        Swal.fire({
            icon: 'success',
            title: 'Buen trabajo!',
            showConfirmButton: true,
            timer: 3300,
            text: '{{configuracionAgregado}}'
        });
        e.preventDefault();
    });
    {% endif %}

    {% if configuracionNoAgregado %}
    $(document).ready(function(){
        Swal.fire({
            icon: 'success',
            title: 'Buen trabajo!',
            showConfirmButton: true,
            timer: 3300,
            text: '{{configuracionNoAgregado}}'
        });
        e.preventDefault();
    });
    {% endif %}
</script>
{% endblock %}

{% block relojJS %}
<script>
    window.clearTimeout();
    window.onload = function() {

        window.onload= mueveReloj ();

        
    };
</script>
{% endblock %}
